ul{
    list-style: none;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
}
li a:hover{
    background-color: #111;

}
.dado{
    border: 2px;
    /* border-radius: 15px; */
    /* margin-left: 40%; */
    background-image: url('https://bit.ly/377nIRw');
    background-size: cover;
    height: 30vh;
}
.dado h4{
    /* color: white; */
    text-align: center;
    font-size: 30px;

}
.vio p{
    font-size: 20px;
}
.code{
    font-size: 20px;
}
.code p{
    font-weight: bold;
}
.code h2{
    font-size: 30px;
    text-align: center;
}
.vio h2{
    font-size: 30px;
    text-align: center;
}
.vio h1{
    font-size: 35px;
    text-align: center;
}
.identity ol{
    text-decoration: none;
    
}
.identity h2{
    font-size: 30px;
}
.identity ol{
    font-size: 20px;
}
.Hobbies h2{
    font-size: 30px;
}
.Hobbies ol{
    font-size: 20px;
}
.skills h2{
    font-size: 30px;
    /* text-align: center; */
}
.skills ol{
    font-size: 20px;
}
.projects h2{
    font-size: 30px;
}
/* .projects img{
    border-radius: 25px;
    border: 2px;
} */
.contacts{
    
}
