ul{
    list-style: none;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
}
li a:hover{
    background-color: #111;
}
.dado img{
    border: 2px;
    border-radius: 15px;
}
.vio p{
    font-size: 20px;
}
.code{
    font-size: 20px;
}
.code p{
    font-weight: bold;
}